# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/*.xlsx
*.ico
*.log
*.manifest

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Ignore runtime folders
_read/
_write/
_debug/
_packages/
_migration/
_logs/
extra/
drivers/
packages/
.idea/
xogEnv.xml
/template.xml
.vscode/
