version: 2.1.{build}

branches:
  only:
  - master

skip_tags: true

clone_folder: c:\gopath\src\github.com\andreluzz\cas-xog

environment:
  GOPATH: c:\gopath
  APPVERSION: $(appveyor_build_version)

install:
- cmd: >-
    echo %PATH%

    echo %GOPATH%

    set PATH=%GOPATH%\bin;c:\go\bin;%PATH%

    go version

    go env

    go get -v -t -d ./...

build_script:
- cmd: go build -ldflags "-X main.version=%APPVERSION%" -o _buildOutput\cas-xog.exe -i .

test_script:
- ps: >-
    bash testCoverage.sh

    $env:PATH = 'C:\msys64\usr\bin;' + $env:PATH

    Invoke-WebRequest -Uri 'https://codecov.io/bash' -OutFile codecov.sh

    bash codecov.sh -f "coverage.txt" -t 331bd826-0c46-49c9-925e-b6418fbceeb9

artifacts:
- path: _buildOutput\cas-xog.exe
  name: binary
- path: xogRead.xml
  name: config

deploy:
- provider: GitHub
  tag: v$(appveyor_build_version)
  release: cas-xog $(appveyor_build_version)
  description: 'This version, including new features and bug fixes, has been compiled with CI to increase stability.'
  auth_token:
    secure: eis8p27PKzPZRUHXV+2FrJ4cNkAj8DN/LCkLbktucyzmmCt2JzKA2CLqWRFH1Wkh
  artifact: binary,config
  force_update: true
